body{
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: 1px solid red;
}
.green{
    border:1px solid green
}
.banner{
            height: 500px;
            background: url(./Image/banner.jpg) center center no-repeat;
            padding: 20px;
}
.about-signin{
    height: 80px;
    width: 100%;
    text-align: right;
    margin-top: 34px;
}
.about,.signin{
    text-decoration: none;
        display: inline;
        padding: 17px;
}
.signin {
    margin-right: 32px;
    border: 2px solid rgb(0, 221, 0);
    border-radius: 39%;
    color: rgb(3, 140, 3);
}
.about {
    margin-right: 64px;
}
.logo{
    height: 100px;
    background: url(./Image/hapoERP.png) center center no-repeat;
}
.content-center{
    text-align: center;
    margin-top: 50px;
}
.btn {
    text-align: center;
}
button {
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 20px;
    border: 2px green solid;
    border-radius: 24%;
    cursor: pointer;
}
.text{
    height: 50px;
}
.left,.right,.center{
    width: 33%;
    display: inline-block;
    text-align: center;
}
span {
    display: block;
    font-size: 20px;
}
img {
    height: 32px;
}